@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url("8fce9b5cf9b42c4df8570c088213f8b8_m.jpg");
  background-size: cover;
  padding-top: 60px;
}


header {
  height: 60px;
  margin: 0;
}

footer {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid black;
   color: black;
   ul {
     text-align: center;
     list-style: none;
     li {
       margin-left: 15px;
     }
   }
 }


h1 {
  color: red;
}

.list{
  border-bottom: 1px solid black;
}

.margin {
  margin-top: 40px;
}

.none {
  list-style: none;
}
.center {
  text-align: center;
}

.border  {
  border: solid 1px black;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  padding-right: 20px;
  margin-top: 40px;
}

.title {
  margin-left: 30px;
  margin-bottom: 20px;
}

.white{
  background-color: #EEE;
}

.green {
  color: #009900;
}

.red{
  color: red;
}

.blue {
  color: blue;
}
