<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "NewsApp", root_path, id: "logo" %></li>
      </ul>
    </nav>
  </div>
</header>
